<%- include('./partials/header') %>
<link rel="stylesheet" href="/stylesheets/landing.css" crossorigin="anonymous">

</head>
<body>
<%- include('./partials/navbar') %>
<div id="landing-header" data-parallax="scroll" data-image-src="https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc5MDg3MjM0ODE5NDAx/united-nations-2.jpg">
    <h1>Model UN <br> Chairing Assistant</h1>
    <!-- <a href="/login" class="btn btn-lg btn-light">Login</a> -->
</div>
<div class="background">
    <div class="card text-center shadow" >
        <h2>The Ultimate Model UN Chairing Sotware</h2>
        <p>MUN Assistant provides all the tools necissary to allow you to efficiently run your committee in a sleek user interface. Instead of dealing with Google Sheets and trying to custom design a motions and roll call page, focus on your conference and let MUN Assistant deal with managing the committee!</p>
    </div>
</div>


<div id="second-img" data-parallax="scroll" data-image-src="https://penntoday.upenn.edu/sites/default/files/2019-07/iStock-906765874.jpg">
    <a href="/login" class="btn btn-lg btn-light" id="signupBtn">Sign Up!</a>
</div>
<div class="background">    
    <div class="card text-center shadow" >
        <h2>Relatively Free</h2>
        <p>MUN Assistant is a free software and can be freely used at your favorite conferences. This software is still being developed and many features will be added over time, making chairing a committee even easier. Feel free to contact us if you have any features you would like to see implemented or if you experience any problems with the software!</p>
    </div>
</div>
<%- include('./partials/footer') %> 