<%- include('./partials/header') %>
<link rel="stylesheet" href="/stylesheets/landing.css" crossorigin="anonymous">

</head>
<body>
<%- include('./partials/navbar') %>
<div id="landing-header" data-parallax="scroll" data-image-src="https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc5MDg3MjM0ODE5NDAx/united-nations-2.jpg">
    <h1>Model UN <br> Chairing Assistant</h1>
    <!-- <a href="/login" class="btn btn-lg btn-light">Login</a> -->
</div>
<div class="background">
    <div class="card text-center shadow" >
        <h2>Basically Chair MUN But Better</h2>
        <p>Have you ever wondered, "why the hell is chair mun so damn bad". well there are many reasons. one is that it fails to do seamingly simple tasks that are quite important in model un. This website is similar... but better, because it works. Made by an active model un student it is updated to actually work and perform simple actions that people would expect to work from a paid program.</p>
    </div>
</div>


<div id="second-img" data-parallax="scroll" data-image-src="https://penntoday.upenn.edu/sites/default/files/2019-07/iStock-906765874.jpg">
    <a href="/login" class="btn btn-lg btn-light" id="signupBtn">Sign Up!</a>
</div>
<div class="background">    
    <div class="card text-center shadow" >
        <h2>It is basically free unless you dont go to westmount</h2>
        <p>Have you ever wondered, "why the hell is chair mun so damn bad". well there are many reasons. one is that it fails to do seamingly simple tasks that are quite important in model un. This website is similar... but better, because it works. Made by an active model un student it is updated to actually work and perform simple actions that people would expect to work from a paid program.</p>
    </div>
</div>
<%- include('./partials/footer') %> 